
mixin benefit-card(img, txt)
	.benefit-item
		.benefit-item__icon
			img(src='./img/icons/'+ img +'.webp', srcset='./img/icons/'+ img +'@2x.webp 2x' width='62' height='62' alt='img')
		.benefit-item__txt
			p !{txt}

mixin benefit-card-ui(img, txt)
	.benefit-item
		.benefit-item__icon
			img(src='../img/icons/'+ img +'.webp', srcset='../img/icons/'+ img +'@2x.webp 2x' width='62' height='62' alt='img')
		.benefit-item__txt.fw-700
			p !{txt}

mixin benefit-info(title, txt)
	.benefit-info
		.h-20 !{title}
		p !{txt}

mixin step-card(img, title, txt)
	.step-card
		.step-card__icon
			img(src='./img/icons/'+ img +'.webp', srcset='./img/icons/'+ img +'@2x.webp 2x'  height='82' alt='img')
		.step-card__txt
			.h-23 #{title}
			p #{txt}
			
mixin step-card-ui(img, title, txt)
	.step-card
		.step-card__icon
			img(src='../img/icons/'+ img +'.webp', srcset='../img/icons/'+ img +'@2x.webp 2x'  height='82' alt='img')
		.step-card__txt
			.h-23 #{title}
			p #{txt}

mixin product-card(img, old)
	.product-card&attributes(attributes)
		.product-card__img
			img.img-cover(src='../img/products/'+img+'.webp', srcset='../img/products/'+img+'@2x.webp 2x' width='' height='' alt='img')
		.product-card__body
			.product-card__title Мидии 40/60, неочищенные
			.product-card__price
				if old	
					.price-old.fs-15 349 &#8381;
				.price-val 349 &#8381; #[span.fs-15 / 100 г.]
			
			.product-card__footer
				p.fs-10 Купили 781 раз
				
				button.cart-btn.cart-btn--animate
					svg.svg-cart
						use(href='../img/sprite.svg#svg-cart')
					svg.plus-anim(viewBox='0 0 22 22' width='22' height='22')
						line(x1='11' y1='1' x2='11' y2='11')
						line(x1='11' y1='21' x2='11' y2='11')
						line(x1='1' y1='11' x2='11' y2='11')
						line(x1='21' y1='11' x2='11' y2='11')

mixin counter
	.counter-wrapper(txt)
		.counter
			button(type="button"  aria-label="Уменьшить количество").counter-minus
			
			.counter-input
				input.counter-value(name=""  min="0" type="text" placeholder="0")
				span.dim-span гр.
			
			button(type="button" aria-label="Увеличить количество" ).counter-plus

		if txt
			.counter-sub !{txt}
